:root {
  --color-1: #1f1f1f;
  --color-2: #3777ff;
  --accent-color: #0a0a0a;
  --text-color: #f4f4f4;
}
html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #f4f4f4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav {
  height: 50px;
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.linktainer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.25s;
}
nav a:hover {
  background-color: var(--accent-color);
}
nav svg {
  fill: var(--text-color);
}
#navbar-active {
  display: none;
}
.open-navbar,
.close-navbar {
  display: none;
}
@media (max-width: 480px) {
  .linktainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    height: 100%;
    width: 180px;

    background-color: var(--color-1);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 25px;
    justify-content: flex-start;
  }
  .open-navbar,
  .close-navbar {
    padding: 15px 19px;
    display: block;
  }
  #navbar-active:checked ~ .linktainer {
    left: 0;
  }
  #navbar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
  }
  main {
    flex-grow: 1;
    max-width: 90vw;
    margin: 20px auto;
    display: grid;
    grid-template-areas: 
    "about"
    "form"
    "table";
    gap: 15px;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
}
main {
  flex-grow: 1;
  max-width: 90vw;
  margin: 20px auto;
  display: grid;
  grid-template-areas: 
  "about form"
  "table table";
  gap: 15px;
}
.aboutainer {
  grid-area: about;
  background-color: #fff;
  padding: 10px;
  display: flex;
  height: fit-content;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
form > * {
  box-sizing: border-box;
  line-height: 1.75;
}
.contact-form {
  grid-area: form;
  background-color: #fff;
  padding: 10px;
  display: flex;
  height: fit-content;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
.contact-form legend {
  display: flex;
  justify-content: center;
}
.contact-form label {
  display: flex;
  font-weight: bold;
  justify-content: flex-start;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  align-self: center;
  background-color: #dfdfdf;
  border-color: white;
  border-radius: 5px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #1f1f1f;
  outline: none;
  background-color: #fff;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-width: 300px;
}
.buttons input {
  max-width: 100px;
}
.buttons input[type="submit"] {
  color: #000;
  background-color: #3c3;
  border-color: #3a3;
  border-width: 3px;
  transition: background-color 0.25s;
}
.buttons input[type="submit"]:hover {
  background-color: #1d1;
}
.buttons input[type="reset"] {
  color: #fff;
  background-color: #c33;
  border-color: #a33;
  border-width: 3px;
  transition: background-color 0.25s;
}
.buttons input[type="reset"]:hover {
  background-color: #d11;
}
.buttons input:hover {
  cursor: pointer;
}
.tabtainer {
  grid-area: table;
  background-color: #fff;
  padding: 10px;
  height: auto;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
}
th {
  background-color: #555;
  color: var(--text-color);
  padding: 8px 12px;
}
td {
  padding: 8px 12px;
}
.text-td {
  max-width:300px;
  overflow-wrap: break-word;
}
tr:nth-child(odd) {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #ccc;
}
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
footer {
  max-height: 15%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-1);
  color: var(--text-color);
}
footer p {
  margin: 10px 50px;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
}
footer a:hover {
  text-decoration: underline;
}
