:root {
  --color-1: #1f1f1f;
  --color-2: #3777ff;
  --accent-color: #0a0a0a;
  --text-color: #fff;
  --background-color: #f0f0f0;
  --block-background-color: #f7f7f7;
}
html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}
nav {
  height: 50px;
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}
.linktainer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.25s;
}
nav a:hover {
  background-color: var(--accent-color);
}
nav svg {
  fill: var(--text-color);
}
#navbar-active {
  display: none;
}
.open-navbar,
.close-navbar {
  display: none;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  font-size: 1.2rem;
  margin-top: 50px;
}
main {
  flex-grow: 1;
  max-width: 90vw;
  margin: 20px auto;
}
.main-info {
  display: grid;
  place-items: center;
  grid-template-areas:
    "ingredients img"
    "instructions instructions";
  gap: 15px;
}
.main-gallery {
  margin: 20px auto;
  display: grid;
  place-items: center;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 15px;
}
.main-contact {
  display: grid;
  place-items: center;
  grid-template-areas:
    "about form"
    "table table";
  gap: 15px;
}
.article-index {
  background-color: var(--block-background-color);
  padding: 10px;
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
.index-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.67em 0;
}
#pizza-img1 {
  width: 600px;
  height: auto;
  margin: 20px 40px;
  border-radius: 10px;
}
.section-index {
  max-width: 512px;
  font-size: 1.2rem;
  font-weight: 350;
  padding: 1.3rem;
  text-align: justify;
}
#recipie-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--color-2);
  margin: 1.1rem;
  padding: 1.1rem;
  border-radius: 10px;
}
#ingredients {
  grid-area: ingredients;
  background-color: var(--block-background-color);
  padding: 10px;
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
#ingredients-header {
  font-size: 2rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
#ingredients-list {
  text-align: justify;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 350;
}
#pizza-img2 {
  width: 320px;
  height: auto;
  border-radius: 10px;
}
#instructions {
  grid-area: instructions;
  background-color: var(--block-background-color);
  padding: 10px;
  height: fit-content;
  max-width: 635px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
#instructions-header {
  font-size: 2.5rem;
  text-align: center;
}
#steps {
  width: 90%;
  font-weight: 400;
  line-height: 1.75;
}
.fig-gallery {
  background-color: var(--block-background-color);
  margin: 0;
  padding: 10px;
  display: flex;
  height: 410px;
  width: 410px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
.figcap-gallery {
  font-size: 1.25rem;
  font-weight: 350;
  text-align: center;
  margin: 10px;
}
.img-gallery {
  width: 350px;
  height: auto;
  margin: auto 10px;
  border-radius: 20px;
}
#fig1 {
  grid-area: 1 / 1 / 2 / 2;
}
#fig2 {
  grid-area: 1 / 2 / 2 / 3;
}
#fig3 {
  grid-area: 1 / 3 / 2 / 4;
}
#fig4 {
  grid-area: 2 / 1 / 3 / 2;
}
#fig5 {
  grid-area: 2 / 2 / 3 / 3;
}
.aboutainer {
  grid-area: about;
  background-color: var(--block-background-color);
  padding: 10px;
  height: 444px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
#profile-pic {
  justify-self: flex-start;
  border-radius: 10px;
  width: 170px;
  height: auto;
}
#about-section {
  text-align: justify;
  margin: 10px;
  padding: 5px;
  line-height: 1.25;
  font-size: 1.2rem;
  font-weight: 350;
}
form > * {
  box-sizing: border-box;
  line-height: 1.75;
}
.contact-form {
  grid-area: form;
  background-color: var(--block-background-color);
  padding: 10px;
  display: flex;
  height: 444px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}
.contact-form header {
  display: flex;
  justify-content: center;
}
.contact-form label {
  display: flex;
  font-weight: bold;
  justify-content: flex-start;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  align-self: center;
  background-color: #dfdfdf;
  border-color: #fff;
  border-radius: 5px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #1f1f1f;
  outline: none;
  background-color: #fff;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-width: 300px;
}
.buttons input {
  max-width: 100px;
}
.buttons input[type="submit"] {
  color: #000;
  background-color: #3c3;
  border-color: #3a3;
  border-width: 3px;
  transition: background-color 0.25s;
}
.buttons input[type="submit"]:hover {
  background-color: #1d1;
}
.buttons input[type="reset"] {
  color: #fff;
  background-color: #c33;
  border-color: #a33;
  border-width: 3px;
  transition: background-color 0.25s;
}
.buttons input[type="reset"]:hover {
  background-color: #d11;
}
.buttons input:hover {
  cursor: pointer;
}
.tabtainer {
  grid-area: table;
  background-color: var(--block-background-color);
  padding: 10px;
  height: auto;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
  overflow-x: auto;
}
table {
  width: 85%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
th {
  background-color: #555;
  color: var(--text-color);
  padding: 8px 12px;
}
td {
  padding: 8px 12px;
}
.text-td {
  max-width: 300px;
  overflow-wrap: break-word;
}
tr:nth-child(odd) {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #ccc;
}
#tabclear {
  text-align: center;
  margin: 10px;
  width: 100px;
  color: #fff;
  background-color: #c33;
  border: 3px solid #a33;
  border-radius: 5px;
  border-style: outset;
  transition: background-color 0.25s;
}
#tabclear:hover {
  background-color: #d11;
  cursor: pointer;
}
footer {
  max-height: 15%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-1);
  color: var(--text-color);
}
footer p {
  margin: 10px 50px;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
}
footer a:hover {
  text-decoration: underline;
}
.contact-link {
  font-weight: bold;
}
@media (max-width: 480px) {
  .linktainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    height: 100%;
    width: 180px;

    background-color: var(--color-1);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 25px;
    justify-content: flex-start;
  }
  .open-navbar,
  .close-navbar {
    padding: 15px 19px;
    display: block;
  }
  #navbar-active:checked ~ .linktainer {
    left: 0;
  }
  #navbar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
  }
  main {
    flex-grow: 1;
    max-width: 90vw;
    margin: 20px auto;
  }
  .main-info {
    display: grid;
    place-items: center;
    grid-template-areas:
      "ingredients"
      "img"
      "instructions";
    gap: 15px;
  }
  .main-gallery {
    display: grid;
    place-content: center;
    grid-template: auto / 1fr;
    grid-template-areas:
      "fig1"
      "fig2"
      "fig3"
      "fig4"
      "fig5";
  }
  .main-contact {
    display: grid;
    place-items: center;
    grid-template-areas:
      "about"
      "form"
      "table";
    gap: 15px;
  }
  #pizza-img1 {
    max-width: 320px;
    height: auto;
  }
  #instructions {
    max-width: 300px;
  }
  .fig-gallery {
    width: 350px;
    height: fit-content;
  }
  .img-gallery {
    width: 300px;
  }
  #fig1 {
    grid-area: fig1;
  }
  #fig2 {
    grid-area: fig2;
  }
  #fig3 {
    grid-area: fig3;
  }
  #fig4 {
    grid-area: fig4;
  }
  #fig5 {
    grid-area: fig5;
  }
  .text-td {
    display: none;
  }
}
